<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        color="danger">
      </ion-back-button>
    </ion-buttons>
    <ion-title id="qr">Generar Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="descqr">
    <ion-card-title id="titqr">Generación de código QR</ion-card-title>
      <div style="text-align: center; margin-top: 30px;">
        <ion-button (click)="generarQr()" shape="round" color="success"> 
          Generar Qr
        </ion-button>
      </div>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <qrcode [qrdata]=qrdata [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Torchline © 2024</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
